<h1>Edit Membership</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.club_membership_path(@conn, :update, @membership)) %>

<span><%= link "Back", to: Routes.club_membership_path(@conn, :index) %></span>
