<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= input f, :type, [using: :select, options: ["Admin": "admin", "User": "user"], prompt: "Choose your role"] %>
  <%= input f, :batch_id %>
  <%= input f, :membership_start %>
  <%= input f, :membership_end %>
  <%= input f, :state %>

  <input type="submit" class="button is-primary" value="Speichern">
<% end %>
