<h1>Listing Memberships</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Batch</th>
      <th>Membership start</th>
      <th>Membership end</th>
      <th>State</th>
      <th>Active</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for membership <- @memberships do %>
    <tr>
      <td><%= membership.type %></td>
      <td><%= membership.batch_id %></td>
      <td><%= membership.membership_start %></td>
      <td><%= membership.membership_end %></td>
      <td><%= membership.state %></td>
      <td><%= membership.active %></td>

      <td>
        <span><%= link "Show", to: Routes.club_membership_path(@conn, :show, membership) %></span>
        <span><%= link "Edit", to: Routes.club_membership_path(@conn, :edit, membership) %></span>
        <span><%= link "Delete", to: Routes.club_membership_path(@conn, :delete, membership), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Membership", to: Routes.club_membership_path(@conn, :new) %></span>
