<h1>New Membership</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.club_membership_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.club_membership_path(@conn, :index) %></span>
