<h1>Show Membership</h1>

<ul>

  <li>
    <strong>Type:</strong>
    <%= @membership.type %>
  </li>

  <li>
    <strong>Batch:</strong>
    <%= @membership.batch_id %>
  </li>

  <li>
    <strong>Membership start:</strong>
    <%= @membership.membership_start %>
  </li>

  <li>
    <strong>Membership end:</strong>
    <%= @membership.membership_end %>
  </li>

  <li>
    <strong>State:</strong>
    <%= @membership.state %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @membership.active %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.club_membership_path(@conn, :edit, @membership) %></span>
<span><%= link "Back", to: Routes.club_membership_path(@conn, :index) %></span>
