<h1>Listing Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Slug</th>
      <th>Meta</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for page <- @pages do %>
    <tr>
      <td><%= page.title %></td>
      <td><%= page.content %></td>
      <td><%= page.slug %></td>
      <td><%= page.meta %></td>

      <td>
        <span><%= link "Show", to: Routes.page_path(@conn, :show, page) %></span>
        <span><%= link "Edit", to: Routes.page_path(@conn, :edit, page) %></span>
        <span><%= link "Delete", to: Routes.page_path(@conn, :delete, page), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Page", to: Routes.page_path(@conn, :new) %></span>
