<div class="content">
  <p class="subtitle">
    Mitglied im kleinen, aber feinen und exklusiven Schlaflos-Trägerverein «Mono.Ton» werden?
  </p>
  <p>
    Kein Problem: Für <strong>nur 60 Franken</strong> überreichen wir Dir deine Schlaflos-Plakette, gültig für ein Jahr. Damit erhältst
    Du fünf Franken Reduktion auf jeden deiner Schlaflos-Besuche, Aufnahme in den Schlaflos Club Freunde und
    garantierten Einlass an jede Festivität.
  </p>
  <p>
    Die Memberschaft bringt aber auch die eine oder andere <strong>Verpflichtung</strong> mit
    sich, die wir Dir hier näherbringen:
  </p>
  <ul>
    <li>Die Karte ist nicht übertragbar.</li>
    <li>Die Karte garantiert Dir 5 Franken Preisnachlass an jeder Party.</li>
    <li>Die Karte garantiert Dir sicheren Einlass.</li>
    <li>Die Karte macht dich zum Schlaflos-Botschafter und kann Dir entzogen werden, wenn Du dich nicht entsprechend
      verhältst.
    </li>
    <li>Kurzum: Das bedeutet einfach, dass andere so behandle, wie Du behandelt werden willst.</li>
    <li>Das gilt selbstverständlich nicht nur für andere Gäste, sondern auch fürs Schlaflos-Personal.</li>
    <li>Möglichst häufiger Gebrauch wird dringend empfohlen.</li>
  </ul>

  <div class="has-text-centered mt-6">
    <a class="button is-warning mr-2 is-large snipcart-add-item"
       data-item-id="1"
       data-item-price="60.00"
       data-item-max-quantity="1"
       data-item-url="/membership"
       data-item-description="Jahresmitgliedschaft im Verein Mono.Ton."
       data-item-image="/assets/images/starry-night.jpg"
       data-item-name="Jahresmitgliedschaft Mono.Ton">
      Jetzt Migtliedschaft beantragen!
    </a>
  </div>
</div>
