<div class="content">
  <p class="subtitle">
    Werde für nur CHF 60.00 Schlaflos Mitglied im Verein «Mono.Ton» und für ein Jahr Schlaflos-Member!
  </p>
  <p>
    Deine Vorteile:
  </p>
  <ul>
    <li>CHF 5.00 Reduktion auf den Eintrittspreis bei Schlaflos-Events (Fremdveranstaltungen ausgeschlossen)</li>
    <li>Tickets von exklusiven Schlaflos-Events vor dem offiziellen Vorverkauf beziehen</li>
    <li>Einladungen zu privaten Events</li>
    <li>Aufnahme in der Facebook Gruppe Club Schlaflos Freunde</li>
  </ul>

  <p>
    Die Member Plakette muss zusammen mit einem gültigen Ausweis an der Kasse vorgezeigt werden. Wir behalten uns vor, die Karte einzuziehen bei unangebrachtem Verhalten im Club.
  </p>

  <p>
    Häufiger Gebrauch der Karte wird dringend empfohlen!
  </p>

  <div class="has-text-centered mt-6">
    <a class="button is-warning mr-2 is-large snipcart-add-item"
       data-item-id="1"
       data-item-price="60.00"
       data-item-max-quantity="1"
      data-item-url="/mitglied-werden"
       data-item-description="Jahresmitgliedschaft im Verein Mono.Ton."
       data-item-name="Jahresmitgliedschaft Mono.Ton">

      Jetzt Migtliedschaft beantragen!
    </a>
  </div>
</div>
