
<%= form_for @conn, Routes.user_session_path(@conn, :create), [as: :user], fn f -> %>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="title">Log in</h1>

          <%= if @error_message do %>
            <div class="alert alert-danger">
              <p><%= @error_message %></p>
            </div>
          <% end %>
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <%= email_input f, :email, required: true, class: "input", placeholder: "e.g. bobsmith@schlaflos-club.ch" %>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <%= password_input f, :password, placeholder: "*******", class: "input", required: true %>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <%= checkbox f, :remember_me %>

                <%= label f, :remember_me, "Keep me logged in for 60 days" %>

              </label>
            </div>
            <div class="field">
              <%= submit "Log in", class: "button is-success"%>
            </div>
            <p>
  <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Forgot your password?", to: Routes.user_reset_password_path(@conn, :new) %>
</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<% end %>
