/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,800;1,400&display=swap');

@import "node_modules/bulma-responsive-tables/bulma-responsive-tables";

// Disable the widescreen breakpoint
$widescreen-enabled: false;
// Disable the fullhd breakpoint
$fullhd-enabled: false;

$custom-color-1: #011627;
$custom-color-2: #fdfffc;
$custom-color-3: #2ec4b6;
$custom-color-4: #e71d36;
$custom-color-5: #ff9f1c;
$primary: $custom-color-3;
$info: $custom-color-3;

@import "../node_modules/bulma/bulma.sass";


body {
  font-family: 'Lato', sans-serif !important;
}

.snipcart-modal__container {
  z-index: 9999 !important;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }

  &-burger {
    z-index: 9000;
    span {
      height: 1px !important;
      color: white ;
    }

    &.is-active span{
      color: #4a4a4a !important;
    }
  }

  &-overlay {
    z-index: 20;
    position: fixed;
  }
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
}

.bg-color{
  &-dark {
    background-color: #011627;
    a {
      color: #fdfffc;
      &:hover {
        color: #ff9f1c;
      }
    }
  }
}


.card {
  .media:not(:last-child) {
    margin-bottom: 0.75rem
  }

  .card--reverse-order{
    flex-direction: row-reverse
  }

  &.is-horizontal{
    flex-direction: row;
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    .card-image{
      flex: 2;
      flex-shrink: 1;
      .image {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .card-content{
      flex: 3
    }
  }
}

.title-deco {
  padding-top: 15px;
  position: relative;
  &::before {
    background: $custom-color-3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 3px;
  }

  &-center {
    &::before {
      background: $custom-color-3;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 40px;
      height: 3px;
      margin-left: -20px;
    }
  }
}

a:hover {
  h3 {
    text-decoration: underline;
  }
}

#divider {
  height: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 50%, rgba(255,255,255,1) 100%);
}

p.text-short {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.is-cover-256x256 {
  width: 256px;
  height: 256px;
  object-fit: cover;
}

.is-64x64 {
  width: 64px;
  height: 64px;
}

.is-radius { border-radius: 6px; }


.mosaic {
  transition: all .7s;
  &:hover .mosaic-image:not(:hover) img {
    filter: brightness(0.5);
    transition: all .7s;
  }
}












$white: #ededed;
$gray: #bfc0c0;
$dark: #585959;
$light: #d3deea;

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");

$big: "Abril Fatface", serif;
$body: "Lato", sans-serif;

.error_404 {
  background: $light;
  height: 100vh;

  .container {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: -40px;
  }
  
  .ghost {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: $white;
    border: 1px solid $gray;
    border-bottom: none;
    animation: float 2s ease-out infinite;
  }
  
  .ghost-copy {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: $white;
    border: 1px solid $gray;
    border-bottom: none;
    animation: float 2s ease-out infinite;
    z-index: 0;
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
  }
  .eye,
  .eye-right {
    position: absolute;
    background: $dark;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 40%;
  }
  
  .eye {
    left: 25%;
  }
  .eye-right {
    right: 25%;
  }
  
  .mouth {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent $dark $dark transparent;
    transform: rotate(45deg);
  }
  
  .one,
  .two,
  .three,
  .four {
    position: absolute;
    background: $white;
    top: 85%;
    width: 25%;
    height: 23%;
    border: 1px solid $gray;
    z-index: 0;
  }
  
  .one {
    border-radius: 0 0 100% 30%;
    left: -1px;
  }
  
  .two {
    left: 23%;
    border-radius: 0 0 50% 50%;
  }
  
  .three {
    left: 50%;
    border-radius: 0 0 50% 50%;
  }
  
  .four {
    left: 74.5%;
    border-radius: 0 0 30% 100%;
  }
  
  .shadow {
    position: absolute;
    width: 30%;
    height: 7%;
    background: $gray;
    left: 35%;
    top: 80%;
    border-radius: 50%;
    animation: scale 2s infinite;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes float {
    50% {
      transform: translateY(15px);
    }
  }
  
  .bottom {
    margin-top: 10px;
  }
  
  /*text styling*/
  h1 {
    font-family: $big;
    color: $white;
    text-align: center;
    font-size: 9em;
    margin: 0;
    text-shadow: -1px 0 $gray, 0 1px $gray, 1px 0 $gray, 0 -1px $gray;
  }
  h3 {
    font-family: $body;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: $gray;
    margin-top: -20px;
    font-weight: 900;
  }
  p {
    text-align: center;
    font-family: $body;
    color: $dark;
    font-size: 0.6em;
    margin-top: -20px;
    text-transform: uppercase;
  }
  
  .search {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  /*search style*/
  
  .search-bar {
    border: 1px solid $gray;
    padding: 5px;
    height: 20px;
    margin-left: -30px;
    width: 200px;
    outline: none;
    &:focus {
      border: 1px solid $light;
    }
  }
  
  .search-btn {
    position: absolute;
    width: 30px;
    height: 32px;
    border: 1px solid $gray;
    background: $gray;
    text-align: center;
    color: $white;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    &:hover {
      background: $white;
      border: 1px solid $white;
      color: $gray;
      transition: all 0.2s ease;
    }
  }
  
  .btn {
    background: $white;
    padding: 15px 20px;
    margin: 5px;
    color: $dark;
    font-family: $body;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    border: 0;
    &:hover {
      background: $gray;
      transition: all 0.4s ease-out;
    }
  }
  
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;
    color: #ea7996;
    letter-spacing: 3px;
    font-family: $body;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #7d7d7d;
      }
    }
  }
}

.is-horizontal-center {
  justify-content: center;
}

@media print {
  * {
    font-size: 14px;
  }

  .section:first-of-type {
    display: none;
  }

  .title {
    display: none;
  }

}

address {
  font-style: normal;
  a {
    text-decoration: underline;
  }
}