<div class="card is-horizontal mb-5 is-shadowless	is-radiusless title-deco">
  <div class="card-content p-0">
    <div class="media">
      <div class="media-content">
        <p class="is-5 is-uppercase"><%= transform_date(@event.start) %></p>
        <a href="/events/<%= @event.slug %>"><h3 class="title is-3 is-uppercase"><%= @event.name %></h3></a>
      </div>
    </div>

    <div class="content">
      <p class="has-text-grey is-text-2 text-short"><%= @event.description %></p>
      <p class="buttons">
        <%= for artist <- @event.artists do %>
        <a href="/artists/<%= artist.slug %>" class="button is-info is-outlined is-small is-rounded"><%= artist.name %></a>
        <% end %>
      </p>
    </div>
  </div>
</div>
