<img class="" src="<%= @event.image %>" height="300px" alt="Flyer <%= @event.name %> <%= @event.start %>"/>

<section class="section ls-background-light">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="ls-section-content has-text-centered">
          <h1 class="title has-text-dark title-deco-center"><%= @event.name %></h1>
          <p class="subtitle"><i
                  class="far fa-calendar-alt"></i> <%= transform_date(:date, @event.start) %> <%= transform_date(:time, @event.start) %>
            bis <%= transform_date(:time, @event.end) %></p>
          <p class="content has-text-grey has-text-weight-light is-size-5">
            <%= @event.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column is-6 is-offset-3">
    <div id="divider"></div>
  </div>
</div>

<%= if !Enum.empty?(@artists) do %>

<section class="section ls-background-light">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="ls-section-content has-text-centered"><h2 class="title has-text-dark title-deco-center">Artists</h2>
          <p class="content has-text-grey has-text-weight-light is-size-5">Auftretende Artisten im Bereich Musik, Visuals und Deko in Alphabetischer Reihenfolge.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <%= @artists |> Enum.with_index(1) |> Enum.map(fn {artist, inx} -> %>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://i.pickadummy.com/1280x960" alt="<%= artist.name %>">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content has-text-centered">
                  <h3 class="title is-4"><%= artist.name %></h3>
                  <p class="subtitle is-6">
                    <a href="<%= artist.website %>" target="_blank"><i class="fas fa-globe-americas"></i></a>
                    <a href="<%= artist.soundcloud %>" target="_blank"><i class="fab fa-soundcloud"></i></a>
                  </p>
                </div>
              </div>

              <div class="content">

              </div>
            </div>
          </div>
        </div>

      <%= if rem(inx, 3) == 0 do %>
    </div>
    <div class="columns">
      <% end %>

      <% end) %>
    </div>


  </div>
</section>

<% end %>

<div class="columns">
  <div class="column is-6 is-offset-3">
    <div id="divider"></div>
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <h2 class="title">Sichere dir jetzt dein «<%= @event.name %>»-Ticket!</h2>
    <a href="<%= @event.ticket_url %>"
       class="button is-info is-large" target="_blank">
      Ticket kaufen für CHF <%= @event.ticket_price %>
    </a>
  </div>
</div>
