<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CustomErrorPages · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="error_404">
      <div id="background"></div>
      <div class="top">
        <h1>404</h1>
        <h3>Seite nicht gefunden</h3>
      </div>
      <div class="container">
      <div class="ghost-copy">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
          <div class="four"></div>
      </div>
      <div class="ghost">
          <div class="face">
          <div class="eye"></div>
          <div class="eye-right"></div>
          <div class="mouth"></div>
          </div>
      </div>
      <div class="shadow"></div>
      </div>
      <div class="bottom">
      <p>Boo, looks like a ghost stole this page!</p>
      <div class="buttons">
          <a class="btn" href="/">Home</button>
      </div>
      </div>
    </div>
  </body>
</html>
