<style>
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  line-height: 1.6;
  background: #444444;
  color: white;
  overflow: hidden;
}

.club-logo {
  position: absolute;
  z-index: 9999;
  right: 20px;
  top: 20px;
}

.flyer {
  position: absolute;
  left: 0;
  top: 10px;
}

.container, .price-container, .advertisment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price-container, .advertisment {
  justify-content: space-between;
}

.prices, .advertisment {
  padding: 30px;
}

.prices {
  border-bottom: 3px solid white;
}

.price-group {
  display: inline-block;
  width: 30vw;
  font-size: 1.5vw;
  margin-bottom: 20px;
}

.price-group h2 {
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  width: 100%;
}

li {
  position: relative;
}

.price-group li span.price{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.event-group {
  position: relative;
  display: inline-block;
  width: 45vw;
  font-size: 1vw;
  margin-bottom: 20px;
}

.event-group div {
  margin-left: 120px;
}

</style>

<img class="club-logo" src="<%= Routes.static_path(@socket, "/images/schlaflos-club-logo-klein.png") %>" alt="Club-Schlaflos Logo">

<div class="container">
  <div class="prices">
    <h1 style="text-align: center">Getränkekarte</h1>
    <div class="price-container">
      <div class="price-group">
        <h2>Softgetränke 3dl</h2>
        <ul>
          <li>Stilles Wasser <span class="price">Gratis</span></li>
          <li>Cola, Ice Tea, Citro <span class="price">5.-</span></li>
          <li>Trojka Energy<span class="price">5.-</span></li>
          <li>Red Bull<span class="price">6.-</span></li>
          <li>El Tony Mate<span class="price">6.-</span></li>
          <li>Kaffee, Tee<span class="price">3.-</span></li>
        </ul>
      </div>

      <div class="price-group">
        <h2>Biere 3.3dl</h2>
        <ul>
          <li>Feldschlösschen Lager <span class="price">6.-</span></li>
          <li>Feldschlösschen Alkoholfrei <span class="price">6.-</span></li>
          <li>Super Bock <span class="price">6.-</span></li>
          <li>Corona <span class="price">7.-</span></li>
        </ul>
      </div>

      <div class="price-group">
        <h2>Drinks 4cl</h2>
        <ul>
          <li>Bombay White 37.5% <span class="price">13.-</span></li>
          <li>Vodka Trojka 40% <span style="font-size: 1vw">(Red, Green, Black)</span><span class="price">13.-</span></li>
          <li>Absolut Vodka 40% <span class="price">13.-</span></li>
          <li>Captain Morgan 35% <span class="price">13.-</span></li>
          <li>Havanna Reserva 40% <span class="price">13.-</span></li>
          <li>Red Label 40% <span class="price">13.-</span></li>
        </ul>
      </div>

      <div class="price-group">
        <h2>Wein & Apero</h2>
        <ul>
          <li>Sunfarm South Africa <span class="price">8.-</span></li>
          <li>Prosecco <span class="price">8.-</span></li>
          <li>Gespritzter Weisswein <span class="price">8.-</span></li>
        </ul>
      </div>

      <div class="price-group">
        <h2>Shots 2cl</h2>
        <p>Hierbas, Jägermeister, XuXu, Berliner Luft, Tequilla Espalon & Francelico</p>
      </div>
    </div>
    <h3 style="text-align: center">Glasflasche: + 1.- Depot</h3>
  </div>
  <div class="advertisment">
    <ul>
    <%= for event <- Enum.take(@events, 4) do %>
      <li class="event-group">
        <div>
          <h1 class="event-title"><%= print_from_to(event.start, event.duration) %> </h1>
          <h2><%= event.name %></h2>
        </div>
        <img class="flyer" src="https://ik.imagekit.io/schlaflos/<%= event.image.uuid %>/original.jpg?tr=w-80,h-80">
      </li>
    <% end %>
    </ul>
  </div>
</div>

<!--
<div class="slideshow">

  <div class="holder">
    <%= for event <- @events do %>
      <div class="event">

      <div class="event-info">

        <h1 class="event-title"><%= event.name %></h1>
        <h2><%= print_from_to(event.start, event.duration) %></h1>
        <p><%= get_string_artist(event.artists) %></p>
        <div class="event-genre">
          <%= for genre <- get_genres(event.artists) do %>
          <span class="price">#<%= genre |> String.downcase() |> String.replace(" ", "_") %></span>

          <% end %>
        </div>
        <img class="flyer" src="<%= Schlaflos.Images.get(event.image, :small) %>">
      </div>
      </div>
    <% end %>
  </div>
</div>
-->
