
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
</main>

<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title has-text-dark title-deco">Elektronische Musik in Aarau hat einen Namen und dieser Name lautet Schlaflos.</h2>

        <div class="ls-section-content content has-text-grey has-text-weight-light is-size-5">
          <p>
            Mitglied im kleinen, aber feinen und exklusiven Schlaflos-Memberclub werden?<br>
            Kein Problem: Für nur 60 Franken überreichen wir Dir deine Schlaflos-Plakette,
            gültig für ein Jahr. Damit erhältst Du fünf Franken Reduktion auf jeden deiner
            Schlaflos-Besuche, Aufnahme in den Schlaflos Club Freunde und garantierten
            Einlass an jede Festivität. Die Memberschaft bringt aber auch die eine oder andere
            Verpflichtung mit sich:
          </p>

          <ol>
            <li>Die Karte ist nicht übertragbar.</li>
            <li>Die Karte garantiert Dir 5 Franken Preisnachlass an jeder Party.</li>
            <li>Die Karte garantiert Dir sicheren Einlass.</li>
            <li>Die Karte macht dich zum Schlaflos-Botschafter und kann Dir entzogen werden, wenn Du dich nicht entsprechend verhältst.</li>
            <li>Kurzum: Das bedeutet einfach, dass andere so behandle, wie Du behandelt werden willst.</li>
            <li>Das gilt selbstverständlich nicht nur für andere Gäste, sondern auch fürs Schlaflos-Personal.</li>
            <li>Möglichst häufiger Gebrauch wird dringend empfohlen.</li>
          </ol>

          <div class="mt-5"><button class="button is-warning mr-2 snipcart-add-item is-large"
                                    data-item-id="1"
                                    data-item-price="60"
                                    data-item-url="/member"
                                    data-item-max-quantity="1"
                                    data-item-description="Eine Jahresmitgliedschaft im Verein «Mono.ton»."
                                    data-item-image="/assets/images/starry-night.jpg"
                                    data-item-name="Jahresmitgliedschaft">Jetzt beantragen!</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
