<h1 class=" text-3xl font-extrabold text-center">Registrieren</h1>

<div class="mt-8 max-w-md mx-auto">

  <%= form_for @changeset, Routes.user_registration_path(@conn, :create), fn f -> %>
    <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
    <% end %>

    <div class="grid grid-cols-1 gap-6">
      <label class="block">
        <span class="text-gray-700">Full name</span>
        <input type="text" class="mt-1 block w-full" placeholder="">
      </label>
      <label class="block">
        <span class="text-gray-700"><%= label f, :email %></span>
        <%= email_input f, :email, required: true, class: "mt-1 block w-full", placeholder: "mans@huster.com" %>
        <%= error_tag f, :email %>
      </label>
      <label class="block">
        <span class="text-gray-700"><%= label f, :password %></span>
        <%= password_input f, :password, required: true, class: "mt-1 block w-full", required: true %>
        <%= error_tag f, :password %>
      </label>
    </div>

    <div>
      <%= submit "Register", class: "my-6 px-4 py-2 border text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700" %>
    </div>
  <% end %>

  <p>
    <%= link "Anmelden", to: Routes.user_session_path(@conn, :new) %> |
    <%= link "Passwort vergessen?", to: Routes.user_reset_password_path(@conn, :new) %>
  </p>
</div>


