<nav class="navbar is-relative is-transparent py-3" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="<%= Routes.static_path(@socket, "/images/schlaflos-club-logo-klein.png") %>" alt="Club-Schlaflos Logo" width="112" height="28">
      </a>
      <a class="navbar-burger" role="button" type="button" data-toggle="side-menu" data-target="sideMenuHeaders09" aria-controls="sideMenuHeaders09" aria-expanded="false" aria-label="Toggle navigation">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start is-centered-absolute">
        <a class="navbar-item has-text-light" href="/">Events</a>
        <a class="navbar-item has-text-light" href="/club">Club</a>
        <a class="navbar-item has-text-light" href="/artists">Artists</a>
        <a class="navbar-item has-text-light" href="/livestream">Livestream</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light is-outlined" href="/mitglied-werden">Support us!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="is-hidden is-fixed is-top is-right is-fullsize" id="sideMenuHeaders09" style="position: absolute; top: 0">
  <div class="is-fixed is-top is-right is-fullsize has-background-grey" style="z-index: 1;"></div>
  <nav class="is-fixed is-top is-left is-bottom navbar is-flex is-flex-direction-column" style="width: 100vw; height: 100vh; overflow-y: scroll;">
    <div class="mb-5 navbar-brand is-flex is-justify-content-space-between">
      <a class="navbar-item" href="#">
        <img style="min-height: 35px;" src="<%= Routes.static_path(@socket, "/images/schlaflos-club-logo-klein.png") %>" alt="" width="auto">
      </a>
      <a class="navbar-item" data-toggle="side-menu" data-target="#sideMenuHeaders09" aria-controls="sideMenuHeaders09" aria-label="Close">
        <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </a>
    </div>
    <div>
      <nav class="navbar mb-5">
        <div class="is-fullwidth"><a class="navbar-item" href="#">Product</a><a class="navbar-item" href="#">Company</a><a class="navbar-item" href="#">About Us</a><a class="navbar-item" href="#">Features</a></div>
      </nav>
      <div class="mb-6 pt-5 has-border-top"><a class="button is-block is-primary is-outlined mb-2" href="#">Log In</a><a class="button is-block is-primary" href="#">Sign Up</a></div>
    </div>
    <div class="pl-4 pb-4 mt-auto">
      <p class="mb-5 is-size-7">
        <span>Get in Touch</span>
        <a href="#">info@example.com</a>
      </p>
      <a href="#"><img src="metis-assets/icons/facebook-blue.svg" alt="Facebook"></a><a href="#"><img src="metis-assets/icons/twitter-blue.svg" alt="Twitter"></a><a href="#"><img src="metis-assets/icons/instagram-blue.svg" alt="Instagram"></a>
    </div>
  </nav>
</div>
