<section class="section has-background-grey-darker">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 has-text-centered-mobile">
        <h2 class="title is-spaced has-text-white">
          <span>Lust auf</span>
          <span class="has-text-primary">schlaflose Nächte</span>
          <span>?</span>
        </h2>
        <p class="subtitle has-text-grey-light	">Erhalte stets die exklusivsten News, Events &amp; Einladungen direkt in dein Postfach.</p>
      </div>
      <div class="is-flex column is-6 is-justify-content-center">
        <form action="https://schlaflos-club.us10.list-manage.com/subscribe/post?u=06a6c8499891620100ce014fc&amp;id=69fd03f506" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="field is-grouped">
              <div class="control has-icons-left">
              <span class="icon is-small is-left">
                <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path
                        d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
                        d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg></span>
                <input class="input" type="text"  id="mce-EMAIL" placeholder="Deine E-Mail"></div>
              <div class="control">
                <button class="button is-primary" type="submit">Anmelden</button>
              </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
