<section class="bg-color-dark">
  <div class="is-max-w-5xl mx-auto p-6">
    <div class="columns is-mobile is-multiline is-centered is-vcentered has-text-centered">
      <div class="column is-6-mobile is-4-tablet is-2-desktop">
        <a href="https://www.facebook.com/club.schlaflos/" alt="Schlaflos - Facebook" target="_blank" class="ml-2">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </div>
      <div class="column is-6-mobile is-4-tablet is-2-desktop">
        <a href="https://www.instagram.com/schlaflosclub/" alt="Schlaflos - Instagram" target="_blank" class="ml-2">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
      <div class="column is-6-mobile is-4-tablet is-2-desktop">
        <a href="https://www.mixcloud.com/schlaflosaarau/" alt="Schlaflos - Mixcloud" target="_blank" class="ml-2">
          <i class="fab fa-mixcloud fa-2x"></i>
        </a>
      </div>
      <div class="column is-6-mobile is-4-tablet is-2-desktop">
        <a href="https://vimeo.com/user161574485" alt="Schlaflos - Vimeo" target="_blank" class="ml-2">
          <i class="fab fa-vimeo fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</section>
