<h1 class="title">Show Mix</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, SchlaflosWeb.Admin.MixLive.FormComponent,
    id: @mix.id,
    title: @page_title,
    action: @live_action,
    mix: @mix,
    return_to: Routes.admin_event_show_path(@socket, :show, @mix) %>
<% end %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @mix.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @mix.url %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.admin_mix_show_path(@socket, :edit, @mix), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.admin_mix_index_path(@socket, :index) %></span>
